<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>X-mapp</title>
    <link rel="icon" sizes="16x16" href="../assets/img/xmapp.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/css/uikit.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link href="../css/main.css" type="text/css" rel="stylesheet">
  </head>
  <body id="bg-register" class=" uk-height-viewport no-scroll">
    <section id="container-register" class="uk-padding-large uk-padding-remove-top uk-padding-remove-bottom uk-margin-medium-top uk-flex-center uk-flex-middle">
        <div class="uk-align-center img-small">
          <img src="../assets/img/xmapp.svg" alt="x-mapp">
        </div>
        <div class=" title uk-text-center uk-heading-line uk-padding-large uk-padding-remove-top  uk-padding-remove-bottom">
          <h2 class="texto">REGISTRATE</h2>
        </div>
        <section class="uk-grid uk-child-width-1-2@s uk-flex-center uk-margin-large uk-margin-remove-top uk-margin-remove-bottom">
          <form id="form">
               <input id="name" type="text" placeholder="Nombre" class="uk-input"><br>
               <input id="email" type="email" placeholder="Correo" class="uk-input uk-margin-top"><br>
               <input id="password" type="password" placeholder="Contraseña" class="uk-input uk-margin-top">
               <input id="passConfirm"  type="password" placeholder="Confirmar contraseña" class="uk-input uk-margin-top">
               <div class="uk-flex uk-flex-center">
                 <a href="../index.html" id="register"  class="uk-button uk-button-medium color-black uk-margin-small-bottom uk-margin-top text-white">
                   Registrarme
                </a>
               </div>
          </form>
      	</section>
    </section>

    <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/js/uikit.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/js/uikit-icons.min.js"></script>
  </body>
</html>
